.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
  row-gap: 50px;
}
.advantages .advantage {
  display: flex;
  align-items: center;
}
@media(max-width: 453px) {
  
  .advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

}
.advantages .advantage svg {
  font-size: 40px;
  color: var(--alt-color);
  margin-right: 15px
}
.advantages .advantage .text .title {
  font-size: 18px;
  color: var(--main-color);
  font-weight: bold
}
.advantages .advantage .text .description {
  font-size: 14px;
  color: #757985;
  margin-bottom: 0
}