:root {
  --main-color : #A9AFC3;
  --alt-color: #D00404
}
* {
  box-sizing: border-box;
}
body {
  background-color: #141414;
  font-family: "Montserrat", sans-serif;
  color: white;
}

::selection {
  background-color: var(--alt-color)
}
.swiper-scrollbar {
  display: none !important
}
::-webkit-scrollbar {
  background-color: #202324;
  width: 10px
}
::-webkit-scrollbar-thumb {
  background-color: #454A4D;
}

a {
  text-decoration: none !important;
}


@media(max-width: 767px) {

  .heading:first-of-type {
    padding: 350px 0 100px;
  }
  
}
